*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-header: #657166;
    --color-back: #DAEBE3;
    --color-panel: #F3C3B2;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-back);
}
.container{
    margin: auto;
}
.width-5{
    width: 50%;
}
.width-7{
    width: 70%;
}
.row{
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
}
.justify-content-center{
    justify-content: center;
}
.column{
    margin: 0 auto 0;
}
.column .info{
    transform: translateX(2em);
}
.md-6{
    padding: 6em 0em 6em;
}
.md-10{
    padding: 2em 0em 2em;
}
.md-4{
    padding: 1em 0em 1em;
}
/*
    ? formularze
*/
.form-outline {
    position: relative;
    width: 300px;
    margin: 1.5em 0 1em;
}

.form-control {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border 0.5s;
    box-sizing: border-box;
}

.form-control:focus {
    border: 2px solid #007BFF;
}
.form-select {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border 0.5s;
    box-sizing: border-box;
}

.form-select:focus {
    border: 2px solid #007BFF;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #999;
    pointer-events: none;
    transition: all 0.3s;
}
.form-control:focus + .form-label{
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #0000ff;
    padding: 1px;
}
.form-control:not(:placeholder-shown) + .form-label{
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #0000ff;
    padding: 1px;
}
.btn-accept{
    width: 100%;
    height: 2em;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    /* background-color: #F3C3B2; */
    background-color: var(--color-header);
    transition: .5s;
}
.btn-accept:hover{
    scale: 1.05;
    box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
    -webkit-box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
    -moz-box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
}
/*
    ? -----formularze
*/
.page-title{
    font-size: 70px;
}
.inactive{
    color: red;
}
/*
    ? style tabelki
*/
.table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--color-header);
}
th{
    padding: 1em 1em 1em;
}
td{
    padding: 0.5em 0.5em 0.5em;
    max-width: 32em;
}
span{
    white-space: nowrap;
}
.table-striped tr{
    transition: all .5s;
}
.table-striped tr:nth-child(odd){
    background-color: #e2cac1;
}
.table-striped tr:nth-child(even){
    background-color: #e2dcd6;
}
.table-hover tr:not(:first-child):nth-child(odd):hover{
    background-color: #F3C3B2;
    scale: 1.025;
}
.table-hover tr:not(:first-child):nth-child(even):hover{
    background-color: #FDE8D3;
    scale: 1.025;
}
.td-bool{
    text-align: right;
    padding-right: 0.5em;
}
.text-center{
    padding: 0 1em 0;
}
/*
    ? ------------style tabelki
*/
.btn-add{
    min-width: 50%;
    height: 2em;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    background-color: var(--color-header);
    transition: all .5s;
    margin: 0.3em;
}
.btn-add a{
    color: white;
    text-decoration: none;
}
.btn-add:hover{
    box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
    -webkit-box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
    -moz-box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
    scale: 1.05;
}
.post {
    border: 2px solid black;
    border-radius: 1em;
    position: relative;
    padding: 1em;
    margin: 1em 0 2.5em;
    max-width: 60em;
    animation: dropIn 1s ease forwards;
    animation-delay: calc(var(--order) * 100ms);
}
@keyframes dropIn{
    from {
        transform: translateX(-1000px);
        display: none;
    }
    to {
        transform: translateX(0);
        display: block;
    }
}

span{
    z-index: 1;
}
.post-title {
    position: absolute;
    top: -10px;
    left: 12%;
    transform: translateX(-50%);
    background-color: var(--color-back);
    padding: 0 10px;
    font-size: 18px;
    text-align: left;
    margin-left: 2em;
}
.post-title::first-letter{
    text-transform: uppercase;
}
.post-date {
    position: absolute;
    top: -10px;
    right: -3%;
    transform: translateX(-50%);
    background-color: var(--color-back);
    padding: 0 3px;
    font-size: 14px;
}
.post-autor {
    position: absolute;
    bottom: 10px;
    right: 0;
    transform: translateX(-50%);
    background-color: var(--color-back); 
    padding: 0 5px;
    font-size: 14px;
}
/* .post-content{
    margin: 0.5em 0.5em 0.7em;
    padding-right: 2em;
}
.post-hidden
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-showed{
    display: block;
} */
.post-content {
    margin: 0.5em 0.5em 0.7em;
    padding-right: 2em;
    max-height: 3.6em; /* Height for 2 lines, adjust based on font size and line-height */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Show only 2 lines initially */
    -webkit-box-orient: vertical;
    transition: max-height 3s ease;
}

.post-content.expanded {
    max-height: 100vh; /* Allow the content to expand fully */
    display: block; /* Switch to block display for full content */
    -webkit-line-clamp: unset; /* Remove clamping */
}
.btn-show{
    padding: 0.2em 0.5em 0.2em;
    text-align: center;
    min-width: 5em;
}
.info{
    background-color: var(--color-panel);
    top: 4em;
    color: white;
    padding: 1em 0.5em 1em;
    font-weight: bold;
    margin-left: 1em;
    white-space: nowrap;
}
.info .gradient-text {
    background: linear-gradient(to left, red,blue);
    -webkit-background-clip: text;      /* ? maska tekstu na background*/
    -webkit-text-fill-color: transparent;   /* ? przezroczysty tekst*/
}
.info hr{
    margin: 5px 0 5px;
    background-color: var(--color-header);
    height: 2px;
    border: none;
}
.right{
    transform: translateX(2em);
    transform: translateY(1.5em);
}
.btn-disabled{
    background-color: #e93c3c;
    width: 100%;
    height: 2em;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    transition: .5s;
    text-decoration: line-through;
    margin: 0 auto 0;
    display: block;
}
/* .btn-disabled:hover{
    box-shadow: 0px 1px 24px 5px rgba(231, 193, 193, 0.89);
    -webkit-box-shadow: 0px 1px 24px 5px rgba(231, 193, 193, 0.89);
    -moz-box-shadow: 0px 1px 24px 5px rgba(231, 193, 193, 0.89);
    width: 100%;
    background-color: #657166;
    text-decoration: none;
} */
.align-items-center{
    align-items: center;
}

@media screen and (max-width: 50em) {
    .info{
        display: none;
    }
}
