*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-back: #DAEBE3;
    --color-panel: #c1d497;
    --form-outline: #007bff;
    --text-white: #ffffff;
    --text-black: #000000;
    --table-odd: #e2cac1;
    --table-even: #e2dcd6;
    --odd-hover: #F3C3B2;
    --even-hover: #FDE8D3;
    --form-border: #ccc;
    --select-white: white;
    --chat-color: aliceblue;
    --gradient-from: red;
    --gradient-to: blue;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-back);
}
.container{
    margin: auto;
    margin-top: 2em;
}
.width-3{
    width: 30%;
}
.width-5{
    width: 50%;
}
.width-7{
    width: 70%;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
}
.justify-content-center{
    justify-content: center;
}
.column .info{
    transform: translateX(2em);
}
.md-6{
    padding: 6em 0em 6em;
}
.md-10{
    padding: 2em 0em 2em;
}
.md-4{
    padding: 1em 0em 1em;
}
/*
    ? formularze
*/
.form-outline {
    position: relative;
    width: 100%;
    margin: 1.5em 0 1em;
}

.form-control {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid var(--form-border);
    border-radius: 4px;
    outline: none;
    transition: border 0.5s;
    box-sizing: border-box;
    color: var(--text-black);
    background-color: var(--select-white);
}

.form-control:focus {
    border: 2px solid var(--form-outline);
    
}
.form-select {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid var(--form-border);
    border-radius: 4px;
    outline: none;
    transition: border 0.5s;
    box-sizing: border-box;
    color: var(--text-black);
    background-color: var(--select-white);
}

.form-select:focus {
    border: 2px solid var(--form-outline);
}

.form-label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--form-border);
    pointer-events: none;
    transition: all 0.3s;
}
.form-control:focus + .form-label{
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: var(--form-outline);
    padding: 1px;
}
.form-control:not(:placeholder-shown) + .form-label{
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: var(--form-outline);
    padding: 1px;
}
.btn-accept{
    width: 100%;
    height: 2em;
    color: var(--text-white);
    font-size: 18px;
    border-radius: 4px;
    /* background-color: #F3C3B2; */
    background-color: var(--color-header);
    transition: .5s;
}
.btn-accept:hover{
    scale: 1.05;
    box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
    -webkit-box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
    -moz-box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
}
/*
    ? -----formularze
*/
.page-title{
    font-size: 70px;
    background: linear-gradient(to left, red,blue);
    background-clip: text;
    -webkit-background-clip: text;      /* ? maska tekstu na background*/
    -webkit-text-fill-color: transparent;   /* ? przezroczysty tekst*/
}
.inactive{
    color: red;
}
/*
    ? style tabelki
*/
.table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--color-header);
}
th{
    padding: 1em 1em 1em;
}
td{
    padding: 0.5em 0.5em 0.5em;
    max-width: 32em;
    color: var(--text-black);
}
span{
    white-space: nowrap;
}
.table-striped tr{
    transition: all .5s;
}
.table-striped tr:nth-child(odd){
    background-color: var(--table-odd);
}
.table-striped tr:nth-child(even){
    background-color: var(--table-even)
}
.table-hover tr:not(:first-child):nth-child(odd):hover{
    background-color: var(--odd-hover);
    scale: 1.025;
}
.table-hover tr:not(:first-child):nth-child(even):hover{
    background-color: var(--even-hover);
    scale: 1.025;
}
.td-bool{
    text-align: right;
    padding-right: 0.5em;
}
.text-center{
    padding: 0 1em 0;
}
/*
    ? ------------style tabelki
*/
.btn-add{
    min-width: 50%;
    height: 2em;
    color: var(--text-white);
    font-size: 18px;
    border-radius: 4px;
    background-color: var(--color-header);
    transition: all .5s;
    margin: 0.3em;
}
.btn-add a{
    color: var(--text-white);
    text-decoration: none;
}
.btn-add:hover{
    box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
    -webkit-box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
    -moz-box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
    scale: 1.05;
}
.post {
    border: 2px solid var(--text-black);
    border-radius: 1em;
    position: relative;
    padding: 1em;
    margin: 1em 0 2.5em;
    width: 100%;
    animation: dropIn 2s ease forwards;
    /* animation-timeline: view();
    animation-range: entry -30% cover 20%; */
    animation-delay: calc(var(--order) * 150ms);
    color: var(--text-black);
}
@keyframes dropIn{
    from {
        transform: translateX(-1000px);
        visibility: hidden;
    }
    to {
        transform: translateX(0);
        visibility: visible;
    }
}

span{
    z-index: 1;
}
.post-title {
    position: absolute;
    top: -10px;
    left: 12%;
    transform: translateX(-50%);
    background-color: var(--color-back);
    padding: 0 10px;
    font-size: 18px;
    text-align: left;
    margin-left: 2em;
}
.post-title::first-letter{
    text-transform: uppercase;
}
.post-date {
    position: absolute;
    top: -10px;
    right: -3%;
    transform: translateX(-50%);
    background-color: var(--color-back);
    padding: 0 3px;
    font-size: 14px;
}
.post-autor {
    position: absolute;
    bottom: 10px;
    right: 0;
    transform: translateX(-50%);
    background-color: var(--color-back); 
    padding: 0 5px;
    font-size: 14px;
}
/* .post-content{
    margin: 0.5em 0.5em 0.7em;
    padding-right: 2em;
}
.post-hidden
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-showed{
    display: block;
} */
.post-content {
    margin: 0.5em 0.5em 0.7em;
    padding-right: 2em;
    width: 100%;
    /* max-height: 3.6em; */
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 3; /*? clamp to 3 lines */
    -webkit-box-orient: vertical;
    transition: max-height 3s ease;
}

.post-content.expanded {
    transition: max-height 3s ease;
    max-height: 100vh; /* ? rozwin do konca */
    display: block; 
    line-clamp: unset;
    -webkit-line-clamp: unset; /*? Remove clamping */
}
.btn-show{
    padding: 0.2em 0.5em 0.2em;
    text-align: center;
    min-width: 9em;
    border: 2px solid var(--text-black);
    border-radius: 5px;
    background-color: var(--color-header);
    color: var(--text-black);
}

.info{
    background-color: var(--color-panel);
    top: 4em;
    color: var(--text-white);
    padding: 1em 0.5em 1em;
    font-weight: bold;
    margin-left: 1em;
    white-space: nowrap;
    width: 20em;
    text-align: center;
}
.info .gradient-text {
    background: linear-gradient(to left, var(--gradient-from),var(--gradient-to));
    background-clip: text;
    -webkit-background-clip: text;      /* ? maska tekstu na background*/
    -webkit-text-fill-color: transparent;   /* ? przezroczysty tekst*/
}
.info hr{
    margin: 5px 0 5px;
    /* background-color: var(--color-header); */
    background: linear-gradient(to left, var(--gradient-from),var(--gradient-to));
    height: 4px;
    border: none;
}
.right{
    margin-left: auto;
    margin-top: 2em;
}
.btn-disabled{
    background-color: #e93c3c;
    width: 100%;
    height: 2em;
    color: var(--text-white);
    font-size: 18px;
    border-radius: 4px;
    transition: .5s;
    text-decoration: line-through;
    margin: 0 auto 0;
    display: block;
}
/* .btn-disabled:hover{
    box-shadow: 0px 1px 24px 5px rgba(231, 193, 193, 0.89);
    -webkit-box-shadow: 0px 1px 24px 5px rgba(231, 193, 193, 0.89);
    -moz-box-shadow: 0px 1px 24px 5px rgba(231, 193, 193, 0.89);
    width: 100%;
    background-color: #657166;
    text-decoration: none;
} */
.align-items-center{
    align-items: center;
}
.background-animation::before{
    content: '';
    position: absolute;
    background-image: url(../grafika/sengokuhara.png);
    background-size: cover;
    inset: 0;
    z-index: -1;

    mask-image: url(../grafika/inkoverlay-Trim-ezgif.com-loop-count.gif);
    mask-size: cover;
    mask-position: center;
}
.milky-background{
    background-color: rgba(255, 255,255, 0.4);
    padding: -4em 2em -2em;
    backdrop-filter: blur(2px);
}
.border-rounded{
    border-radius: 15px;
}
.relative-width{
    width: 70%;
}

.vs-hid{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.themes{
    display: flex;
    width: fit-content;
    margin-inline: auto;
    gap: 2em;
    width: 9em;
    height: 2em;
    padding: 0.5em 1em;
    background-color: var(--chat-color);
    border-radius: 5px;

}

.themes input[type="radio"]{
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    outline: 2px solid var(--radio-color, currentColor);
    outline-offset: 2px;
    border-radius: 50%;
}

.themes input[type="radio"]:checked{
    background-color: var(--radio-color);
}

input[type="radio"]#domyslny{
    --radio-color: #93dbd2;
}
input[type="radio"]#kontrast{
    --radio-color: yellow;
}
input[type="radio"]#alter{
    --radio-color: red;
}

:root:has(#domyslny:checked){
    --color-back: #DAEBE3;
    --color-panel: #70dfe9;
    --form-outline: #007bff;
    --text-white: #ffffff;
    --text-black: #000000;
    --table-odd: #e2cac1;
    --table-even: #e2dcd6;
    --odd-hover: #F3C3B2;
    --even-hover: #FDE8D3;
    --form-border: #ccc;
    --select-white: white;
    --chat-color: aliceblue;
    --gradient-from: red;
    --gradient-to: blue;
}
:root:has(#kontrast:checked){
    --color-back: #050505;
    --color-panel: #e27047;
    --form-outline: #04cf0f;
    --text-white: #e3f53f;
    --text-black: #e5ff00;
    --table-odd: #b1503d;
    --table-even: #aa6b28;
    --odd-hover: #7e7b7a;
    --even-hover: #998e83;
    --color-header: rgba(43, 41, 41, 0.801);
    --form-border: #0073ff;
    --select-white: rgb(177, 162, 162);
    --chat-color: rgb(147, 183, 183);
    --gradient-from: rgb(72, 253, 0);
    --gradient-to: rgb(235, 235, 235);
}
:root:has(#alter:checked){
    --color-back: #ff4949;
    --color-panel: #dcf744;
    --form-outline: #5900ff;
    --text-white: rgb(116,16,16);
    --text-black: #000000;
    --table-odd: #0f1014;
    --table-even: #cd90ff;
    --odd-hover: #006eff;
    --even-hover: #c230fc;
    --color-header: rgba(221, 145, 5, 0.801);
    --form-border: #ff009d;
    --select-white: rgb(248, 195, 195);
    --chat-color: rgb(221, 156, 242);
    --gradient-from: rgb(25, 0, 255);
    --gradient-to: rgb(255, 0, 0);
}
.czat{
    width: 20em;
    height: 28em;
    background-color: var(--chat-color);
    margin-left: 1em;
    margin-top: 2.5em;
    color: var(--text-black);
    display: flex;
    flex-direction: column-reverse;
    padding: 0.5em 0.5em 1em;
    border-radius: 10px;
}
.bottominput{
    display: flex;
    justify-content: space-between;
}
#inputsend{
    width: 75%;
    height: 2em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: 2px solid var(--text-black);
    background-color: var(--color-header);
    color: var(--text-black);
}
#inputsend:focus{
    outline: 2px solid var(--form-outline);
}
.btn-send{
    width: 20%;
    height: 2em;
    color: var(--text-black);
    border-radius: 4px;
    /* background-color: #F3C3B2; */
    background-color: var(--color-header);
    transition: .5s;
}
.btn-send:hover{
    scale: 1.05;
    box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
    -webkit-box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
    -moz-box-shadow: 0px 1px 24px 5px rgba(163,156,156,0.89);
}
.chatcontent{
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    background-color: var(--color-header);
    margin-bottom: 2em;
    border-radius: 5px;
    padding: 0.2em;
    display: flex;
    flex-direction: column-reverse;
}
.mess{
    display: flex;
    margin: 3px 0 3px 3px;
}
.messautor{
    width: 20%;
}
.messcontent{
    width: 80%;
}




@media screen and (max-width: 50em) {
    .info{
        display: none;
    }
    .post{
        width: 100%;
    }
    .relative-width{
        width: 100%;
    }
}
